body{
    background-color: black;
    color: white;
}

.topleft{
    background-color: lightgrey;
    width: 200px;
    height: 200px;

   padding-left: 20px;
   
}
.name{
    padding-top: 20px;
    padding-left: 30px;
    font-size: 10px;
    color: black;
}
h1{
    padding-left: 30px;
   
}
a{
    font-size: 10px;
    padding: 30px;
    text-decoration: none;
}
.heading{
    width: 400px;
    line-height: 80px;
}

.topright{
    height: 20px;
    width: 300px;
    background-color: blueviolet;
}
.contact{
    position: absolute;
    right: 40px;
    top: 30px;
}

.contact-a{
    
    color: white;
    
    font-size: 15px;
    
}

.abt{
    position: absolute;
    right: 140px;
    top: 30px;
   }

.abt-a{
   color: white;
    
    font-size: 15px;
    
}

.pro{
    position: absolute;
    top: 30px;
    right: 212px;
}
.pro-a{
   color: white;
   
    font-size: 15px;
    
}

.para{
   
   width: 75%;
   position: absolute;
   right: 40px;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 100px;
  width: 80%;


}

.priyanshdpabt{
    width: 80%;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}



.earth-image{
    width: 35%;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}
 
.about-earth{
    width: 60%;
    position: absolute;
    right: 20px;
   
}

.earth{
   
}
    
  

.earth-para{
    padding: 60px;
    }

    .sun-container{
        width: 100%;
       
        position: absolute;
        top: 570px;
    }

    .sun-image{
        width: 35%;
        margin-left: 20px;
        margin-right: 10px;
        float: left;
    }
    
    .sun-para{
        padding: 60px;
        
    }

    .about-sun{
        width: 60%;
        position: absolute;
        right: 20px;
    }




    .mercury-container{
        width: 100%;
       
        position: absolute;
        top: 940px;
    }

    .mercury-image{
        width: 35%;
        margin-left: 20px;
        margin-right: 10px;
        float: left;
    }
    
    .mercury-para{
        padding: 60px;
        
    }

    .about-mercury{
        width: 60%;
        position: absolute;
        right: 20px;
    }

    .last-container{
       
        width: 100%;
        position: absolute;
        top: 1550px;
        background-color: lightblue;

     
    }
    .last{
        padding: 50px;
        line-height: 30px;
        font-size: 20px;
       

    }
    .last-a{
        font-size: 20px;
        line-height: 50px;
    }

    h5{
        color: black;
    }

    .last-container-a{
       
        width: 100%;
        position: absolute;
        top: 1250px;
        background-color: lightblue;

     
    }
    .last-a{
        padding: 50px;
        line-height: 30px;
        font-size: 20px;
       

    }
    .last-aa{
        font-size: 20px;
        line-height: 50px;
    }
    
