body{
    background-color: black;
    color: white;
}



.topcontainer{
 
    display: flex;
    width: 100%;
   
   margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.top{
    display: flex;
}

.topleft{
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    margin-left: 20px;

   
   
}

.pages{
    
    align-self: flex-start;
   
   
   }
   
   
   
   
   .contact-a{
       text-decoration: none;
       color: white;
       
       font-size: 15px;
       
   }
   
   
   
   .abt-a{
       text-decoration: none;
      color: white;
       
       font-size: 15px;
       
   }
   
   
   .pro-a{
       text-decoration: none;
      color: white;
      
       font-size: 15px;
   }
   
   .tr{
       margin-right: 20px;
      
   }







.name{
    padding-top: 20px;
    padding-left: 30px;
    font-size: 10px;
    color: black;
}
h1{
  
    padding-left: 30px;
}

.heading{
    width: 50%;
    line-height: 80px;
}




.para{
   
    width: 75%;
   height: auto;
   margin-left: 10%;
    
    
}

.container{
    display: flex;
width: 90%;
height:auto;
justify-content: space-between;
  margin-top: 50px;
    align-items: center;

    

}

.item{
   
  margin-left: 50px;
   width: 30%;
  
}

.first{
    width: 30%;
    height: 90%;
    margin-left: 10px;
    
}

.second{
    width: 60%;
    height: 90%;
 
    flex-grow: 2;
}
.earth{
    width: 100%;
}
.sun{
    width: 100%;
    height: 100%;
}

.mercury{
    width: 100%;
    height: 100%;
}

.bottom-container{
    background-color: lightblue;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
    margin-top: 30px;
    
}

.bottom-child{
   
    margin-left: 5%;
    line-height: 30px;
    
    
}

.last-a{
   
    font-size: 25px;
    line-height: 50px;
   
}



.pk{
    color: #8A2BE2;
    
}
